*{
    margin: 0;
    padding: 0;
    }
    
    body{
    background-image: linear-gradient(114deg, #f1f0f7, #9b63f796);
    }
    
    header {
    display: flex;
    justify-content: center;
    background-color: white;
    }
    
    .navegacao ul {
    display: flex;
    }
    
    .flex-item {
    padding: 22px;
    list-style-type: none;
    }
    
    .navegacao a {
    text-decoration: none;
    color: blueviolet;
    }
    
    .navegacao a:hover {
    border: solid rgb(155, 134, 231) 3px;
    background-color: rgb(155, 134, 231);
    color: white;
    
    border-radius: 8px;
    }
    
    .conteudo{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    border: solid red 2px;
    }
    
    .item{
    
    max-width: 700px;
    padding: 5px;
    margin: 15px;
    border: solid red 2px;
    }
    
    h1, h2, h4 {
    padding-bottom: 15px;
    font-family: 'Dosis', sans-serif;
    
    font-family: 'Fira Sans', sans-serif;
    }
    
    h3 {
    color: white;
    }
    
    p{
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    }
    
    .botao {
    margin-top: 20px;
    background-color: blueviolet;
    border-radius: 8px;
    padding: 8px;
    height: 30px;
    width: 200px;
    margin-left: 125px;
    }
    
    .botao a {
    text-decoration: none;
    color: white;
    
    }
    
    .botao:hover{
    transform: scale(1.08);
    }
    
    .rodape-inicial{
    text-align: center;
    background-color: blueviolet;
    min-height: 50px;
    margin-top: 125px;
    padding: 25px;
    
    }
    
    .rodape-inicial img{
    max-height: 50px;
    }
    .img2{
    max-width: 340px;
    border-radius: 80px;
    opacity: 0.7;
    }
    .rodape {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    min-height: 40px;
    
    }
    
    .rodape i{
    padding: 8px;
    min-width: 100px;
    font-size: 26px;
    margin-left: 50px;
    color: white;
    }
    
    .rodape img{
    min-width: 120px;
    max-height: 40px
    
    }
    
    @media (max-width:992px) {
    .conteudo{
    display: flex;
    margin: auto;
    }
    header {
    flex-direction: column;
    margin: auto; 
    }
    
    .item {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 12px;
    }
    
    p {
    font-size: 10px;
    
    }
    
    .img1, .img2 {
    width: 50%;
    margin:auto;
    }
    
    .logo2 {
    width: 50%;
    margin:auto;
    }
    
    .rodape-inicial {
    margin: auto;
    font-size: 10px;
    }
    .botao {
    margin-top: 15px;
    }
    .rodape{
    justify-content: start;
    padding: auto;
    }
    }
    




